[submodule "HTML-Mini-Projects"]
	path = HTML-Mini-Projects
	url = https://github.com/Araryarch/HTMLMini
[submodule "Kanban"]
	path = Kanban
	url = https://github.com/Araryarch/kanban
[submodule "HTML-Final-Projects"]
	path = HTML-Final-Projects
	url = https://github.com/Araryarch/HTMLFinal
[submodule "FizzBuzz"]
	path = FizzBuzz
	url = https://github.com/Araryarch/FizzBuzz
[submodule "Poke-API-1"]
	path = Poke-API-1
	url = https://github.com/Araryarch/PokeAPI1
[submodule "Poke-API-2"]
	path = Poke-API-2
	url = https://github.com/Araryarch/PokeAPI2
[submodule "Element-Dinamis-JS"]
	path = Element-Dinamis-JS
	url = https://github.com/Araryarch/ElementDinamis
[submodule "JS-API"]
	path = JS-API
	url = https://github.com/Araryarch/JS-API
[submodule "ToDoList-React"]
	path = ToDoList-React
	url = https://github.com/Araryarch/ToDoReact
